<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.abisayo.computerize1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/csimplify_icon1"
        android:label="@string/app_name"
        android:roundIcon="@drawable/csimplify_icon1"
        android:supportsRtl="true"
        android:theme="@style/Theme.Computerize1">
        <activity
            android:name=".BehaviouralObjectivesActivity"
            android:exported="false" />
        <activity
            android:name=".WebViewActivity"
            android:exported="false" />
        <activity
            android:name=".ReadMoreActivity"
            android:exported="false" />
        <activity
            android:name=".ManageLMSActivity"
            android:exported="false" />
        <activity
            android:name=".DisplayStudentScoresActivity"
            android:exported="false" />
        <activity
            android:name=".EnterNameQuizActivity"
            android:exported="false" />
        <activity
            android:name=".PretestActivity"
            android:exported="false" />
        <activity
            android:name=".EnterAdminPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".NewCoursesDisplayedActivity"
            android:exported="false" />
        <activity
            android:name=".DisplayCoursesActivity"
            android:exported="false" />
        <activity
            android:name=".AddEditNoteActivity"
            android:exported="false" />
        <activity
            android:name=".NoteActivity"
            android:exported="false" />
        <activity
            android:name=".Flowcharts.FlowChartQuizActivity"
            android:exported="false" />
        <activity
            android:name=".Flowcharts.FlowchartExampleActivity"
            android:exported="false" />
        <activity
            android:name=".Flowcharts.FlowchartElementsActivity"
            android:exported="false" />
        <activity
            android:name=".Algorithms.AlgorithmExampleActivity"
            android:exported="false"
            android:label="Examples of Algorithms" />
        <activity
            android:name=".OxygenTherapy.OxygenTherapySubTopicActivity"
            android:exported="false" />
        <activity
            android:name=".OxygenTherapy.OxygenTherapyFlashCardActivity"
            android:exported="false" />
        <activity
            android:name=".oxygenation.OxygenationFlashCardActivity"
            android:exported="false" />
        <activity
            android:name=".FirstActivity"
            android:exported="false" />
        <activity
            android:name=".Games.FlorenceGameActivity"
            android:exported="false" />
        <activity
            android:name=".NextLevelActivity"
            android:exported="false" />
        <activity
            android:name=".Games.MenInNursingGameActivity"
            android:exported="false" />
        <activity
            android:name=".Games.GameClaraActivity"
            android:exported="false" />
        <activity
            android:name=".PuzzleActivity"
            android:exported="false" />
        <activity
            android:name=".DraggableLayout"
            android:exported="false" />
        <activity
            android:name=".communication.CommunicationFlashcardActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".communication.CommunicationSubTopicActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".discharge.DischargeFlashcardActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".discharge.DischargeSubTopicActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".assessment.AssessmentFlashCardActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".assessment.AssessmentYoutubeActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".assessment.AssessmentSubTopicActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".HistoryQuizActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".standards.StandardsActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Algorithms.HistoryYoutubeActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Algorithms.AlgorithmSubTopicActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Algorithms.AlgorithmFlashcardActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Flowcharts.FlowchartsFlashcardActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Flowcharts.FlowchartsSubTopicActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".roles.RolesFlashcardActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".roles.RolesSubTopicActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".admission.AdmissionSubTopicActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".admission.AdmissionFlashcardActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".oxygenation.OxygenationSubTopicActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ResultActivity"
            android:exported="false" />
        <activity
            android:name=".EditProfile"
            android:exported="false" />
        <activity
            android:name=".Profile"
            android:exported="false" />
        <activity
            android:name=".TopicsActivity"
            android:exported="false" />
        <activity
            android:name=".CreateAccount"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>